@font-face {
    font-family: "SiteFont";
    src: url("resources/frak.ttf") format("truetype"),
        url("resources/frak.woff") format("woff"),
        url("resources/frak.svg") format("svg")
        url("resources/frak.eot");
}

body {
    background-color: black blur(3px);
    background-image: url("resources/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

button {
    transition: transform 0.2s;
    border-radius: 10px;
    border: 2px solid rgb(0, 170, 255);
}

button:hover {
    transform: scale(1.1) translate(0, -5px);
    border: 2px solid rgb(255, 0, 0);
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

#main {
    width: 100%;
    height: 100vh;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#main label.myname {
    color:rgb(255, 255, 255);
    position: relative;
    font-family: 'SiteFont';
    font-size: 270%;
    background: linear-gradient(60deg, rgb(0, 170, 255) 33%, rgb(255, 0, 0) 0%);
    text-shadow: 0 0 5px rgb(0, 0, 0);
    border-radius: 20px;
    text-shadow: black 2px 1px;
}

#main label.copyright_label {
    color:rgb(200, 200, 200);
    display: flex;
    position: relative;
    font-family: 'SiteFont';
    padding-top: 10px;
    font-size: 135%;
    text-shadow: black 2px 1px;
}

#main #buttons button {
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: 'SiteFont';
    font-size: 150%;
    text-shadow: black 2px 1px;
}

#main label.aboutme {
    color:rgb(255, 255, 255);
    position: relative;
    font-family: 'SiteFont';
    font-size: 300%;
    margin-top: 150%;
    text-shadow: black 2px 1px;
}

#main label.aboutme_info {
    color:rgb(255, 255, 255);
    position: relative;
    display: flex;
    font-family: 'SiteFont';
    font-size: 145%;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1;
    border-style: ridge;
    text-shadow: black 2px 1px;
}

#main label.projects_positions {
    color:rgb(255, 255, 255);
    position: relative;
    font-family: 'SiteFont';
    font-size: 300%;
    margin-top: 150%;
    text-shadow: black 2px 1px;
}

#main label.position_minerva {
    color:rgb(255, 255, 255);
    position: relative;
    display: flex;
    font-family: 'SiteFont';
    font-size: 170%;
    border-top: 20px;
    border-color: rgb(20, 112, 133);
    text-shadow: black 2px 1px;
}

#main button.link_project_minerva {
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'SiteFont';
    font-size: 170%;
    border-color: rgb(0, 170, 255);
    border-color: rgb(0, 170, 255);
    transition: transform 0.2s;
    text-shadow: black 2px 1px;
}

#main button.link_project_minerva:hover {
    transform: scale(1.1) translate(0, -5px);
    border: 2px solid rgb(255, 0, 0);
}

#main button.link_project_ixehl2rp {
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'SiteFont';
    font-size: 170%;
    border-color: rgb(0, 170, 255);
    transition: transform 0.2s;
    text-shadow: black 2px 1px;
}

#main button.link_project_ixehl2rp:hover {
    transform: scale(1.1) translate(0, -5px);
    border: 2px solid rgb(255, 0, 0);
    text-shadow: black 2px 1px;
}

#main label.project_ixehl2rp {
    color:rgb(255, 255, 255);
    position: relative;
    display: flex;
    font-family: 'SiteFont';
    font-size: 170%;
    text-shadow: black 2px 1px;
}

#main label.project_cafebaltic {
    color:rgb(255, 255, 255);
    position: relative;
    display: flex;
    font-family: 'SiteFont';
    font-size: 170%;
    text-shadow: black 2px 1px;
}

#media {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;

    margin-top: 2px;

    flex: content;
    flex-direction: column;
}

#media label {
    color:rgb(255, 255, 255);
    position: relative;
    font-family: 'SiteFont';
    font-size: 300%;
    text-shadow: black 2px 1px;
    align-self: center;
    padding-bottom: 10px;
}